//- OLD PASSWORD
section(class="section__password df_ja")
  //- error message
  section(class="df_ja err validsPass")
    span(class="df_ja")
      p !
    span(class="text__error")
      div(class="text__error__div symbolsErrorPass")
        //- p Error: character "
        //- div(class="symbolsErrorPass")
        //- p " is invalid
  //- END error message
  //- input
  section(id="sectionInputOldPassword" class="input mt_50")
    if oldPass 
      input(class="inputsPassword" 
      name="oldPassword" 
      type="password" 
      required 
      autocomplete="off" 
      value=oldPass
      pattern=patternPassword 
      minlength="8" 
      maxlength="128")
    else
      input(class="inputsPassword" 
      name="oldPassword" 
      type="password" 
      required 
      autocomplete="off" 
      value="" 
      pattern= patternPassword 
      minlength="8" 
      maxlength="128")
    label(class="label__input" for="name")
      span old password
  //- END input
  include ../assets/icons/eye.svg
  
//- END OLD PASSWORD
//- NEW PASSWORD #1
section(class="section__password df_ja")
  //- error message
  section(class="df_ja err validsPass")
    span(class="df_ja")
      p !
    span(class="text__error")
      div(class="text__error__div symbolsErrorPass")
        //- p Error: character "
        //- div(class="symbolsErrorPass")
        //- p " is invalid
  //- END error message
  //- input
  section(id="sectionInputOldPassword" class="input mt_50")
    if newPass
      input(class="inputsPassword" 
      name="newPassword" 
      type="password" 
      required 
      autocomplete="off" 
      value=newPass
      pattern= patternPassword 
      minlength="8" 
      maxlength="128")
    else
      input(class="inputsPassword" 
      name="newPassword" 
      type="password" 
      required 
      autocomplete="off" 
      value="" 
      pattern= patternPassword 
      minlength="8" 
      maxlength="128")
    label(class="label__input" for="name")
      span new password
  //- END input
  include ../assets/icons/eye.svg


//- NEW PASSWORD #1
//- NEW PASSWORD #2
section(class="section__password df_ja")
  //- error message
  section(class="df_ja err validsPass")
    span(class="df_ja")
      p !
    span(class="text__error")
      div(class="text__error__div symbolsErrorPass")
      //-   p Error: character "
      //-   div(class="symbolsErrorPass")
      //-   p " is invalid
      //- div(class="text__error__div" id="matchPass")
      //-   p new passwords do not match 
  //- END error message
  //- input
  section(id="sectionInputOldPassword" class="input mt_50")
    if confNewPass
      input(class="inputsPassword" 
      name="confNewPassword" 
      type="password" 
      required 
      autocomplete="off" 
      value=confNewPass
      pattern= patternPassword 
      minlength="8" 
      maxlength="128")
    else
      input(class="inputsPassword" 
      name="confNewPassword" 
      type="password" 
      required 
      autocomplete="off" 
      value="" 
      pattern= patternPassword 
      minlength="8" 
      maxlength="128")
    label(class="label__input" for="name")
      span confirm new password
  //- END input
  include ../assets/icons/eye.svg


//- NEW PASSWORD #2
