<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {{!-- <link rel="stylesheet" href="/views/assets/style.css"> --}}
    <title>Home page</title>
  </head>
  <body>
    {{!-- <div id="dropzone" class=""> </div> --}}
    <section class="block">
      <section class="container">
        <h1>Home page</h1>
      </section>
    </section>
    <section class="block">
      <section class="container">
        <section class="files">
          <ul id="files">

            {{#each userFiles}}
            <li>
              <span>{{this}}</span>
              <div class="file__control">
                <a href="{{linksFiles}}">download</a>
                <a href="{{this}}">delete</a>
              </div>
            </li>
            {{/each}}

            {{#each linksFiles}}
            <a href="{{this}}">download</a>
            {{/each}}




            {{!-- {{#each userFiles}}
            <li>
              <span>{{this}}</span>
              <div class="file__control">
                <a href="{{this}}">download</a>
                <a href="{{this}}">delete</a>
              </div>
            </li>
            {{/each}} --}}
          </ul>

        </section>
      </section>
    </section>
    <section class="block">
      <section class="container">
          {{!-- <button id="submitBtn" class="hidden">Отправить</button> --}}
          <form id="formFiles" class="" action="/upload" method="post" enctype="multipart/form-data">
            {{!-- <ul id="file_list"></ul> --}}
            <input id="input_files" type="file" name="uploadFiles" value="" multiple>
            <input type="submit" value="submit">
          </form>
      </section>
    </section>
    <script type="text/javascript" src="../views/assets/js/drag.js"> </script>
  </body>
</html>
